<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Homework 7</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/7174afae6d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand mr-5" href="#">
					<img src="images/logo.png" alt="Joby">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="navbar-nav text-uppercase pt-2">
						<li class="nav-item">
							<a class="nav-link" href="#">employers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">about us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">team</a>
						</li>
					</ul>
					<button type="button" class="button-sign btn btn-secondary" data-toggle="modal" data-target="#modal-form-autorization">sign up</button>
				</div>
			</div>
		</nav>
	</div>
</header>
<div class="carousel-block">
	<div id="main-carousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#main-carousel" data-slide-to="1"></li>
			<li data-target="#main-carousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="slider-text carousel-item active">
				<img src="images/slider-pic.jpg" class="d-block w-100" alt="">
				<div class="carousel-caption d-block">
					<p>Where will <span class="slider-words">great work</span> take you?</p>
				</div>
			</div>
			<div class="slider-text carousel-item">
				<img src="images/slider-pic.jpg" class="d-block w-100" alt="">
				<div class="carousel-caption d-block">
					<p>Where will <span class="slider-words">great work</span> take you?</p>
				</div>
			</div>
			<div class="slider-text carousel-item">
				<img src="images/slider-pic.jpg" class="d-block w-100" alt="">
				<div class="carousel-caption d-block">
					<p>Where will <span class="slider-words">great work</span> take you?</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
			<img src="images/arrow-left.png" alt="">
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
			<img src="images/arrow-right.png" alt="">
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<div class="first-block container mt-5">
	<div class="row">
		<div class="col">
			<img src="images/pic-big-1.png" class="" alt="...">
		</div>
		<div class="col mt-5 mb-5">       
			<h3>find <span class="words">the perfect</span> job fast</h3>   
			<p>Start your job in hours not weeks. Get a shortlist of skilled freelancers instantly tapping into our hiring know-how and matching technology. Interview favorites online and hire with the click of a button.</p>			
		</div>
	</div>
</div>
<div class="second-block">
	<div class="second-block-1 container mt-5">
		<div class="row">
			<div class="col block-ul">       
				<h3 class="mb-3">great <span class="words">work starts</span> with great talent</h3>  
				<ul class="list-group ml-5">
					<li>Get amazing results working with the best programmers.</li>
					<li>Designers, writers and other toop online pros.</li>
					<li>Hire freelancers with confidence, always knowing.</li>
					<li>Their work experience and feedback from other clients.</li>
					<li>Designers, writers and other top online pros.</li>
				</ul>
			</div>
			<div class="d-flex">
				<img class="second-block-img" src="images/pic-big-2.png" alt="...">
			</div>
		</div>
	</div>
</div>
<div class="third-block container">
	<h3>Recent Work Done on <span class="words">JOB BOARD</span></h3>
	<div class="row">
		<div class="card mb-3">
			<img src="images/pic-1.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #1d9fbd">graphics</a>
				<h5 class="card-title">round icons design</h5>
			</div>
		</div>		
		<div class="card mb-3">
			<img src="images/pic-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #44bd1d">graphics</a>
				<h5 class="card-title">stationary design</h5>
			</div>
		</div>
		<div class="card mb-3">
			<img src="images/pic-3.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #bd1d93">graphics</a>
				<h5 class="card-title">logo design</h5>
			</div>
		</div>
		<div class="card mb-3">
			<img src="images/pic-4.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #ffd401">graphics</a>
				<h5 class="card-title">branding</h5>
			</div>
		</div>
		<div class="card">
			<img src="images/pic-5.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #44bd1d">graphics</a>
				<h5 class="card-title">visiting card design</h5>
			</div>
		</div>
		<div class="card">
			<img src="images/pic-6.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #ffd401">graphics</a>
				<h5 class="card-title">brochure design</h5>
			</div>
		</div>
		<div class="card">
			<img src="images/pic-7.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #1d9fbd">graphics</a>
				<h5 class="card-title">branding</h5>
			</div>
		</div>
		<div class="card">
			<img src="images/pic-8.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="#" class="btn" style="background-color: #bd1d93">graphics</a>
				<h5 class="card-title">stationary design</h5>
			</div>
		</div>
	</div>	
</div>
<footer class="">
	<div class="footer container">© 2015 JOB BOARD Landing Page By Mike Taylor
	</div>
</footer>



<div class="modal fade" id="modal-form-autorization" tabindex="-1" role="dialog" aria-labelledby="form-title" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="form-title">Autorization</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="exampleInputName1">Name</label>
						<input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Your name"required autofocus>	
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"required>
					</div>
					<div class="form-group">
						<label for="exampleInputLogin1">Login</label>
						<input type="text" class="form-control" id="exampleInputLogin1" aria-describedby="emailHelp" placeholder="Your login"required>	
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
					</div>
					<button type="submit" class="send btn btn-secondary">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>













<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	$('.modal').on('shown.bs.modal', function() {
		$(this).find('[autofocus]').focus();
	});
</script>
</body>
</html>